@media screen and (min-width: 280px) and (max-width: 600px){
	#megamenu{
		position: static;
	}
	#megamenu .col:not(:first-child) {
		width: 50%;
	}
	#logowrapper .col{
		width: 100%;
		text-align: center;
	}
	#logowrapper .span_2_of_5{
		display: none;
	}
}
@media screen and (min-width: 900px) {


::-webkit-scrollbar-corner{background:transparent;display:none}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background:lightyellow;}
::-webkit-scrollbar-thumb{background:darkred;-webkit-box-shadow:none}
.clearfix{clear: both;}
.col {float:left;height:100%;}
.row{width: 100%;}
/*These are all the widths of elements*/
.span_1_of_5{ width :20%;}
.span_2_of_5{ width :40%;}
.span_1_of_1{ width: 100%;}
.row:nth-of-type(2){
   height:90px;
   margin-top: 5px;
}
.row:nth-of-type(4){
   height:600px;
   margin-top: 5px;
}
/*The row containing the graphic*/
#graphicwrapper{
   height:550px;
   margin-top: 5px;
   background-color: black;
}
#megamenu{
	height: 3px;
	background: rgba(231, 144, 13, 0.7);
	color: white;
	-webkit-transition : all 0.5s ease-in;
	 position: fixed;
   left: 0;
   top: 0;

}
#menuimage{
	background: url() white no-repeat;
	padding: 1%;
}
.menutag{
	font-weight: bold;
	font-size: 1.2em;
}
#logo img{
	float: left;
}
.span_2_of_5>h3{
color: transparent;
text-align: right;
width: 20%;
height: 50%;
cursor: pointer;
float: right;
padding-right: 8%;
}
.bottom>h3{
background: url(images/top.jpg) no-repeat;

}
#logotext{
	text-align: center;
}
#maincta{
	position: relative;
}
#thegraphic{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	left: 0;
	top: 0;
}
#registercta{
	z-index: 4;
	position: absolute;
	top: 33%;
	left: 45%;
	-webkit-border-radius : 15px;
	color: white;
	font-size: 1.6em;
	padding: 1.5%;
	display: none;
	background-image : -webkit-linear-gradient(top,darkred 0%,brown 100%) ; 
}
}