body{
	overflow-x: hidden;
}
#s-wrapper{
float: none;
height: 35em;
margin: 40px auto;
position: relative;
max-width: 1300px;
background-color: orange;
}
#maincta{
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;height: 100%;
	overflow: hidden;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
#maincta li > *{
	position: absolute;
}
.next,.prev {
	color: black;
	cursor: pointer;
	display: none;
	font-weight: bold;
	padding: 10px 15px;
	position: absolute;
	top: 50%;
	z-index: 1000;
	height: 75px;
	margin-top: -47.5px;
}

.insideslide h2{
	font-size: 2.7em;
	color: white;
	width: 65%;
}
.insideslide{    
    color: white;
    height: 95px;
    padding: 5px;
    width: 100%;
    left: -50%;
    top: 50%;
}
.info1.animate-in, .info2.animate-in, .info3.animate-in {
    
    left: 50%;
    -webkit-transition-duration: 1s;
}
.info1.animate-out, .info2.animate-out, .info3.animate-out {
    left: 100%;
    
    -webkit-transition-duration: 1s;
}
#registercta{
	z-index: 4;
	position: absolute;
	top: 33%;
	left: 45%;
	-webkit-border-radius : 15px;
	color: white;
	font-size: 1.6em;
	padding: 1.5%;
	display: none;
	background-image : -webkit-linear-gradient(top,darkred 0%,brown 100%) ; 
}
img.windows{
	float: left;
	max-width: 98%;
	padding: 5px;
	background-color: lightgreen;
}
@media only screen and (max-width: 900px) {
	
}
@media only screen and (max-width: 580px) {

.insideslide h2{
	width: 90%;
	font-size: 1.5em;
}
#maincta{
	height: 25em;
	margin: 10px auto;
}
.info1.animate-in, .info2.animate-in, .info3.animate-in{
	left: 10%;
}
}