/*Resetting css for consistency*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, 
pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong,
sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,time,mark, 
audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
 body {line-height: 1;}
 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
 nav ul {list-style: none;}
 blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
 a {margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
 ins {background-color: #ff9;color: #000;text-decoration: none;}
 mark {background-color: #ff9;color: #000; font-style: italic;font-weight: bold;}del {text-decoration:  line-through;}
 abbr[title], dfn[title] {border-bottom: 1px dotted;cursor: help;}
 table {border-collapse: collapse;border-spacing: 0;}
 hr {display: block;height: 1px;border: 0; border-top: 1px solid #cccccc;margin: 1em 0;padding: 0;}
 input, select {  vertical-align: middle;}
 ul{ 	list-style: none; }
 body{overflow-x:hidden ;font-family: 'TradeGothicW01BoldCn20Regular',Helvetica,Arial,san-serif;}

/*For Slider*/
#maincta{
	margin: 40px auto;
	max-width: 1280px;
	width: 100%;
	height: 340px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
#maincta li > *{
	position: absolute;
}
.next,.prev {
	color: black;
	cursor: pointer;
	display: none;
	font-weight: bold;
	padding: 10px 15px;
	position: absolute;
	top: 50%;
	z-index: 1000;
	height: 75px;
	margin-top: -47.5px;
}
.sl-title{

	font-size: 3.4em;
	left: 65%;
	width: 35%;
	opacity: 0;
	bottom: 1%;
	z-index: 50;
}
.sl-title.animate-in {
	left: 50%;
	opacity: 1;

	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}

.sl-title.animate-out {
	left: 35%;
	opacity: 0;

	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}
.sl-image {
	left: 30%;
	bottom: -48%;
	opacity: 0;
	position: relative;
	height: auto !important;
	max-height: 568px !important;
	width: 30%;
	min-width: 225px; /*prevents the sl-image from shrinking when the browser is resized*/
	max-width: 266px;
}

.sl-image.animate-in {
	left: 15%;
	opacity: 1;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.sl-image.animate-out {
	left: 15%;
	opacity: 0;

	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}
.info1, .info2, .info3 {
    background: #3f7ad6;
    color: white;
    height: 95px;
    padding: 5px;
    width: 95px;
    left: -150px;
    top: 10px;
}
.info1{
	left: -150px;
    top: 10px;
    -webkit-transition-duration: 1s;
}
.info1.animate-out{
	left: 500px;
    -webkit-transition-duration: 1s;
}
.info2 {
    top: 130px;
}

.info3 {
    top: 250px;
}
.info1.animate-in, .info2.animate-in, .info3.animate-in {
    left: 165px;
    -webkit-transition-duration: 1s;
}
.info1.animate-out, .info2.animate-out, .info3.animate-out {
    left: 500px;
    -webkit-transition-duration: 1s;
}
/*#registercta{
	z-index: 4;
	position: absolute;
	top: 33%;
	left: 45%;
	-webkit-border-radius : 15px;
	color: white;
	font-size: 1.6em;
	padding: 1.5%;
	display: none;
	background-image : -webkit-linear-gradient(top,darkred 0%,brown 100%) ; 
}*/
img.windows{
	float: left;
	max-width: 98%;
	padding: 5px;
	background-color: lightgreen;
}

