body{
	background: url(images/az_subtle.png);
}
#masonrywrapper{
	min-height: 80em;
	overflow: hidden;
}
#masonryrow{
	margin-top: 1.5%;
	margin-left: 1.3%;
}
#masonryrow .post { 
	width:310px;
	background:#FFF;
	position:relative;
}
#masonryrow .medium,.low{
	width:310px;
}
#masonryrow .high{
	width: 500px;
}
.post-wrapper{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 5.3em;
	width: 150px;
	padding: 1.5%;
	opacity: 0.9;
	cursor: pointer;
	background-color: rgb(138, 165, 111);	
}
/*
*Colours for different Event Categories
*/
.cybernetics{
	background-color: rgb(217, 142, 76);
}
.six{
	background-color: rgb(138, 165, 111);
}
.innovation{
	background-color: rgb(227, 206, 177);
}
.vishwatronix{
	background-color: rgb(96, 180, 224);
}
.thetitle{
text-transform: uppercase;
font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}
.thetitle a{
padding: 3%;
width: 100%;
display: block;
color: black;
}
.post-copy{
	position: absolute;
	bottom: 1.5em;
}
@media only screen and (max-width: 580px) {

}
