body,#wpcontent{
	background: url(images/tiny_grid.png) white;
}
#tinymce{
	background-color: white;
}
#wp-admin-bar-wp-logo ,#footer-upgrade{
  display: none;
}
#dashboard_right_now .versions{
	text-indent: -9999px;
	height: 1px;
}

