.bg, #primary, #main {
    /*background: url(images/tiny_grid.png);*/
    }

#primary {
    overflow-x: hidden
    }

.bg:nth-child(2) {
    padding: 5px 0
    }

#content {
    margin: 3%;
    background-color: white;
    -moz-box-shadow: 0 0 4px #818080;
    -webkit-box-shadow: 0 0 4px #818080;
    box-shadow: 0 0 4px #818080
    }

#comments {
    display: none
    }

.entry-title {
    position: relative;
    color: #fff;
    background: #f43059;
    font-size: 1.5em;
    clear: both;
    padding: 10px 10px 10px 20px;
    text-shadow: 0 -1px #d0284b, 0 1px #f96080;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    margin-left: -1%
    }

#toc {
    top: 40%;
    right: 0;
    height: 27%;
    position: fixed;
    background: rgb(51, 51, 51);
    -moz-box-shadow: inset 5px 0 5px 0 black;
    -webkit-box-shadow: inset 5px 0 5px 0 black;
    box-shadow: inset 5px 0 5px 0 black;
    width: 150px;
    padding-top: 20px;
    color: white
    }

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none
    }

#toc li {
    padding: 5px 10px
    }

#toc a {
    color: #fff;
    text-decoration: none;
    display: block
    }

#toc .toc-h2 {
    padding-left: 10px
    }

#toc .toc-h3 {
    padding-left: 20px
    }

#toc .toc-active {
    background: #369;
    -moz-box-shadow: inset -5px 0 10px -5px #000;
    -webkit-box-shadow: inset -5px 0 10px -5px #000;
    box-shadow: inset -5px 0 10px -5px #000
    }

#updates {
    margin: 1% 0 0 1%;
    padding-bottom: 0;
    background-color: rgba(219, 161, 12, 0.45)
    }

#updates p, #updates h2 {
    padding: 2.5%;
    padding-bottom: 0
    }

#updates p {
    font-size: 1em
    }

.entry-content {
    padding: 3%
    }

.span_1_of_4 {
    width: 21%;
    margin: 1%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 1px 0 5px gray;
    -webkit-box-shadow: 1px 0 5px gray;
    box-shadow: 1px 0 5px gray
    }

#customfields {
    width: 90%;
    float: none;
    margin: 0 auto;
    padding: 32px 0
    }

#customfields .col {
    padding: 1%
    }

#customfields .col, .col a, .col a:visited {
    color: white;
    text-align: center;
    display: block;
    height: 100%
    }

#customfields p {
    line-height: 2.3
    }

#register {
    background-color: green
    }

#pdf {
    background-color: red
    }

#entryfee {
    background-color: blue
    }

#eventhead {
    background-color: black
    }

#disqus_thread {
    padding: 2% !important
    }

@media only screen and (max-width: 800px) and (min-width: 300px) {
    .span_1_of_4 {
        width: 45.76%;
        padding: 3%
        }
    }
@media only screen and (min-width: 900px) {
    .entry-title:before {
        content: " ";
        position: absolute;
        bottom: -10px;
        left: 0;
        border: 5px solid #dc2950;
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent
        }
    .entry-title:after {
        content: " ";
        position: absolute;
        bottom: -1px;
        right: -24px;
        border: 24px solid #f43059;
        border-left: 12px solid #f43059;
        border-right: 12px solid transparent;
        -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2)
        }
    }
